.cardHeaderImg {
  width: 3em;
  height: 3em;
}
.postCardContainer {
  aspect-ratio: 4 / 3;
  height: auto;
}
@media screen and (max-width: 790px) {
  .postCardContainer {
    width: 100%;
    height: auto;
  }
}
